td
{
	padding:5px 5px;
}

table
{
	border-collapse:collapse;
	background:blue;
	color:White;
}

td
{
	font-size:20px;
}

input[type="submit"], input[type="reset"]
{
	background:red;
	color:white;
	padding:14px 14px;
	transition:background 1s;
	width:100%;
	font-weight:bold;
}

input[type="text"],input[type="password"],input[type="email"],input[type="number"],textarea
{
	font-size:20px;
}

input[type="submit"]:hover ,input[type="reset"]:hover
{
	background:white;
	color:red;
}